<div class="admin-thread">
    <%# header %> 


    <div class="admin-messageslist">
        <%= render "message", from: "them", text: "hello where's my order?" %>

        <%= render "message", from: "me", text: "hi thanks for contacting our support agent" %>
        <%= render "message", from: "me", text: 'please hold' %>

        <%= render "message", from: "them", text: 'ok' %>
        <%= render "message", from: "them", text: 'yo whenever youre ready man' %>
        <%= render "message", from: "them", text: 'i justneed my cbds' %>

        <%= render "message", from: "me", text: 'aight lets see...' %>
        <%= render "message", from: "me", text: 'i found your order.' %>
        <%= render "message", from: "me", text: 'it looks like its somewhere in the phillipines right now, but you should receive it soon.' %>

        <%= render "message", from: "them", text: 'ok, thanks alot!  you guys are absolute rockstars' %>
    </div>
</div>