<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @message } %>

<% content_for :page_title do %>
  <%= link_to Spree.t(:messages), spree.admin_messages_path %> /
  <%= Spree.t(:edit_messages) %>
<% end %>

<%= form_for [:admin, @message], url: admin_message_path(id: @message.id), html: { multipart: true }, method: :patch do |f| %>
  <fieldset data-hook="new_message">
    <%= f.field_container :creator_id, class: ['form-group'] do %>
      <%= f.label :name, Spree.t(:creator_id) %> <span class="required">*</span>
      <%= f.text_field :creator_id, class: 'form-control creator_id', required: :required %>
      <%= f.error_message_on :creator_id %>
    <% end %>

    <%= f.field_container :recipients, class: ['form-group'] do %>
      <%= f.label :name, Spree.t(:recipients) %> <span class="required">*</span>
      <%= f.text_field :recipients, class: 'form-control recipients', required: :required %>
      <%= f.error_message_on :recipients %>
    <% end %>

    <%= f.field_container :sentiment, class: ['form-group'] do %>
      <%= f.label :name, Spree.t(:sentiment) %> <span class="required">*</span>
      <%= f.text_field :sentiment, class: 'form-control sentiment', required: :required %>
      <%= f.error_message_on :sentiment %>
    <% end %>

    <%= f.field_container :is_received, class: ['form-group'] do %>
      <%= f.check_box :is_received %>
      <%= Spree.t(:is_received) %>
    <% end %>

    <%= f.field_container :is_read, class: ['form-group'] do %>
      <%= f.check_box :is_read %>
      <%= Spree.t(:is_read) %>
    <% end %>

    <%= render partial: 'spree/admin/messages/edit_resource_links' %>
  </fieldset>
<% end %>
