<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @live_stream } %>

<% content_for :page_title do %>
  <%= link_to Spree.t(:live_streams), spree.admin_live_stream_index_path %> /
  <%= Spree.t(:new_live_stream) %>
<% end %>

<%#= form_for [:admin, admin_live_stream_index_path, @live_stream], html: { multipart: true } do |f| %>
<%= form_for [:admin, @live_stream], url: admin_live_stream_index_path, html: { multipart: true }, method: :post do |f| %>
  <fieldset data-hook="new_product">
    <%= f.field_container :title, class: ['form-group'] do %>
      <%= f.label :name, Spree.t(:title) %> <span class="required">*</span>
      <%= f.text_field :title, class: 'form-control title', required: :required %>
      <%= f.error_message_on :title %>
    <% end %>

    <%= f.field_container :description, class: ['form-group'] do %>
      <%= f.label :name, Spree.t(:description) %> <span class="required">*</span>
      <%= f.text_field :description, class: 'form-control title', required: :required %>
      <%= f.error_message_on :description %>
    <% end %>


    <%= f.field_container :product_ids, class: ['form-group'] do %>
      <%= f.label :product_ids, Spree.t('live_stream.product_ids') %>
      <%= f.collection_select(:product_ids, Spree::Product.all, :id, :name, { include_blank: Spree.t('match_choices.none') }, { class: 'select2', multiple: true }) %>
      <%= f.error_message_on :product_ids %>
    <% end %>

    <div id="start_date_field" class="form-group">
      <%= f.label :start_date %>
      <div class="input-group datePickerTo"
           data-wrap="true"
           data-enable-time='true'
           data-alt-format="<%= Spree.t(:fpr_human_friendly_date_time_format, scope: 'date_picker', default: 'M j, Y H:i') %>"
           data-min-date="<%= DateTime.now %>">
        <%= f.datetime_field :start_date,
                              placeholder:Spree.t('start_at'),
                              class: 'form-control shadow-none',
                              'data-input':'' %>

        <%= render partial: 'spree/admin/shared/cal_close' %>
      </div>
    </div>

    <%= render partial: 'spree/admin/live_stream/new_resource_links' %>

  </fieldset>
<% end %>
