<fieldset data-hook="admin_menu_items_form_fields" class="no-border-top">
  <% if f.object.id.nil? %>
    <legend align="center"><%= Spree.t('navigator.admin.fieldset.legend.new') %></legend>
  <% else %>
    <legend align="center"><%= Spree.t('navigator.admin.fieldset.legend.edit') %></legend>
  <% end %>


  <div class="row" style="flex-wrap: unset;">
    <div class="field" style="margin: 10px;">
      <%= f.label :name, Spree.t('navigator.admin.label.name') %>
      <%= f.text_field :name, class: 'fullwidth' %>
    </div>

    <div class="field" style="margin: 10px;">
      <%= f.label :url, Spree.t('navigator.admin.label.url') %>
      <%= f.text_field :url, class: 'fullwidth' %>
    </div>

    <div class="field" style="margin: 10px;">
      <%= f.label :item_id, Spree.t('navigator.admin.label.id') %>
      <%= f.text_field :item_id, class: 'fullwidth' %>
    </div>

    <div class="field" style="margin: 10px;">
      <%= f.label :item_class, Spree.t('navigator.admin.label.class') %>
      <%= f.text_field :item_class, class: 'fullwidth' %>
    </div>

    <div class="field" style="margin: 10px;">
      <%= f.label :item_target, Spree.t('navigator.admin.label.target') %>
      <%= f.text_field :item_target, class: 'fullwidth' %>
    </div>
  </div>

  <div class="form-buttons filter-actions actions" data-hook="buttons">
    <% if f.object.id.nil? %>
      <%= button Spree.t('actions.create'), 'refresh' %>
    <% else %>
      <%= button Spree.t('actions.update'), 'refresh' %>
    <% end %>
    <span class="or"><%= Spree.t(:or) %></span>
    <%= link_to_with_icon 'remove', Spree.t('actions.cancel'), admin_menu_items_path, class: 'button' %>
  </div>
</fieldset>
