<% content_for :head do %>
  <%= javascript_tag "
    var loading = '#{escape_javascript Spree.t(:loading)}',
        new_menu = '#{escape_javascript Spree.t('navigator.admin.ajax.new_menu')}',
        server_error = '#{escape_javascript Spree.t(:server_error)}',
        menu_tree_error = '#{escape_javascript Spree.t('navigator.admin.ajax.menu_tree_error')}';

    $(document).ready(function(){
      setup_menu_tree();
    });
    "
  %>
<% end %>

<div id="ajax_error" class="errorExplanation" style="display:none;"></div>
<%= render '/spree/admin/menu_items/children_menu' %>
<%= form_tag(admin_menu_items_path, method: :post) do |f| %>
  <fieldset class="no-border-top no-border-bottom">
    <%= label_tag nil, Spree.t(:tree) %>
    <script>
      Spree.routes.admin_menu_items_path = "<%= spree.admin_menu_items_path %>";
      Spree.routes.jstree_theme_path = "<%= stylesheet_path("https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css") %>";
    </script>

    <div id="menu_tree" class="tree"></div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <div id="progress" style="display:none;">
      <%= image_tag 'instinct_logo.png', :title => 'Spinner', :style => "vertical-align:bottom;" %> <%= Spree.t(:updating) %>...
    </div>

    <div class="info"><%= Spree.t('navigator.admin.ajax.instructions') %></div>
  </fieldset>
<% end %>
