<%#= render partial: 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t('navigator.admin.title.edit', name: @menu_item.name) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'arrow-left', Spree.t('navigator.admin.button.back'), admin_menu_items_path, class: 'button' %></li>
<% end %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @menu_item } %>

<%= form_for @menu_item, url: admin_menu_item_path(@menu_item) do |f| %>
  <%= render 'form', f: f %>
<% end %>
