<%#= render partial: 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t('navigator.admin.title.index') %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'plus', Spree.t('navigator.admin.button.new'), new_admin_menu_item_path, class: 'button' %></li>
<% end %>
<% if @menu_items.any? %>
  <%= render partial: 'spree/admin/menu_items/tree' %>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t('navigator.admin.no_resource_found') %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_menu_item_path %>!
  </div>
<% end %>
