<% content_for :page_title do %>
  <%= Spree.t(:"admin.contact.list") %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:add_contact), spree.new_admin_contact_path, class: "btn-success", icon: 'add.svg' if can?(:create, Spree::Store) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_products_sidebar">
    <%= search_form_for [:admin, @search], url: admin_contacts_path do |f| %>
      <%- locals = {f: f} %>
      <div data-hook="admin_products_index_search" class="row">
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= f.label :search_by_message, Spree.t(:title) %>
            <%= f.search_field :full_name, size: 15, class: "form-control js-quick-search-target js-filterable" %>
          </div>
        </div>
        </div>
      </div>
      <div data-hook="admin_products_index_search_buttons" class="form-actions">
        <%= button Spree.t(:search), 'search.svg' %>
      </div>
    <% end %>
<% end %>
<% if @collection.present? %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <th>Id</th>
      <th>Actor Id</th>
      <th>Full Name</th>
      <th>Emails</th>
      <th>Phone</th>
      <th>Ip</th>
      <th>Created At</th>
      <th data-hook="admin_stores_index_header_actions" class="actions">Actions</th>
    <thead>
    <tbody>
      <% @collection.each do |contact| %>
        <tr class="contact_<%= contact.id %>">
          <td><%= link_to contact.id, admin_contact_path(contact.id) %></td>
          <td><%= contact&.actor_id %></td>
          <td><%= contact&.full_name %></td>
          <td><%= contact&.email %></td>
          <td><%= contact&.phone %></td>
          <td><%= contact&.ip %></td>
          <td><%= contact&.created_at %></td>
          <td class="actions actions-2 text-right" data-hook="admin_contact_index_row_actions">
            <%= link_to_edit_url spree.edit_admin_contact_path(id: contact.id), no_text: true if can?(:edit, contact) %>
            <%= link_to_delete contact.id, no_text: true, url: admin_contact_path(id: contact.id) if can?(:destroy, contact.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Contact)) %>
  </div>
<% end %>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>
