<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @message } %>
<% content_for :page_title do %>
  <%= link_to Spree.t(:menu_locations), spree.admin_menu_location_path %>/
  <%= Spree.t(:location_details) %>
<% end %>

<%= form_for [:admin, @menu_location], url: admin_menu_location_path(id: @menu_location.id), html: { multipart: true }, method: :patch do |f| %>
  <fieldset data-hook="new_message">
    <%= f.field_container :title, class: ['form-group'] do %>
      <%= f.label :title, Spree.t(:title) %> <span class="required">*</span>
      <%= f.text_field :title, class: 'form-control message', required: :required, readonly: :true %>
      <%= f.error_message_on :title %>
    <% end %>

    <%= f.field_container :location, class: ['form-group'] do %>
      <%= f.label :location, Spree.t(:location) %> <span class="required">*</span>
      <%= f.text_field :location, class: 'form-control sender_type', required: :required, readonly: :true %>
      <%= f.error_message_on :location %>
    <% end %>

  </fieldset>
<% end %>
